{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 80,
  "arrowParens": "always",
  "bracketSpacing": true,
  "filepath": "**/*.{js,mjs,cjs,ts,jsx,tsx}",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/index.css",
  "tailwindPreserveWhitespace": true,
  "tailwindPreserveDuplicates": true
}
