@import "tailwindcss";

@font-face {
  font-family: "Monocraft";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/fonts/monocraft.woff2") format("woff2");
}

@font-face {
  font-family: "Monocraft";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/monocraft_semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Monocraft";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/monocraft_bold.woff2") format("woff2");
}

@font-face {
  font-family: "0xProto";
  src: url("/fonts/0xproto.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "0xProto";
  src: url("/fonts/0xproto_bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@theme {
  --font-monocraft: "Monocraft", monospace;
  --font-0xproto: "0xProto", monospace;


  --breakpoint-xs: 360px;
  --color-background: rgb(255, 227, 232);
  --color-primary: rgb(53, 32, 36);
  --color-detail: rgb(255, 134, 156);

  --color-code-background: rgb(255, 206, 217);
  --color-code-number: rgb(247, 79, 129);
  --color-code-string: rgb(247, 79, 129);
  --color-code-comment: rgb(133, 146, 149);
  --color-code-keyword: rgb(77, 70, 72);
  --color-code-title: rgb(229, 106, 138);
  --color-code-variable: rgb(140, 55, 72);
}

@layer base {
  html {
    @apply min-h-screen;
  }

  body {
    @apply min-h-screen bg-background text-primary;
  }
}

@layer components {
  #app {
    @apply min-h-screen flex flex-col px-4 font-0xproto max-w-5xl mx-auto;
  }

  .hljs-number {
    @apply text-code-number;
  }

  .hljs-string {
    @apply text-code-string;
  }

  .hljs-comment {
    @apply text-code-comment;
  }

  .hljs-keyword,
  .hljs-built_in,
  .hljs-operator {
    @apply text-code-keyword;
  }

  .hljs-title {
    @apply text-code-title;
  }

  .hljs-variable {
    @apply text-code-variable;
  }
}