@import "tailwindcss";

@font-face {
  font-family: "Monocraft";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/monocraft.ttf") format("truetype");
}

@font-face {
  font-family: "Desyrel";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/desyrel.ttf") format("truetype");
}

@theme {
  --font-monocraft: "Monocraft", monospace;
  --font-desyrel: "Desyrel", cursive;

  --breakpoint-xl: 90rem;
  --breakpoint-max-px: 1440px;

  --color-background: #101010;
  --color-primary: #FF8FA3;
  --color-text: #ffe3eb;
  --color-secondary: #8e8e8e;
  --color-selection: #505050;

  --color-primary-dark: #FF4D6D;

  --color-glitch-primary: #aa4054;
  --color-glitch-secondary: #6e2641;

  --color-primary-transparent: #ff8fa417;
}

@layer base {
  html,
  body,
  #app {
    @apply bg-background text-text font-monocraft h-full;
  }

  .base-text {
    @apply text-sm text-pretty sm:text-base lg:text-lg xl:text-xl;
  }
}

@layer components {
  .simplebar-scrollbar:before {
    @apply bg-primary!;
  }
}
